@font-face {
  font-family: "Arial Rounded MT";
  src: url("/assets/fonts/ARIALROUNDEDMT.woff");
}

@@font-face {
  font-family: "Comic Sans";
  src: url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
  src: url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff");
}

body {
  font-family: "Comic Sans";
  background-image: url("/assets/img/spacebg.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Rounded MT";
}

h6 {
  font-style: italic;
}

.rounded {
  font-family: "Arial Rounded MT";
}