@font-face {
  font-family: "Arial Rounded MT";
  src: url("/assets/fonts/ARIALROUNDEDMT.woff");
}

@font-face {
  font-family: "Planet Kosmos";
  src: url("/assets/fonts/PlanetKosmos.TTF");
}

body {
  font-family: "Comic Sans MS";
  background-image: url("/assets/img/spacebg.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Rounded MT";
}

h6 {
  font-style: italic;
}

.comic {
  font-family: "Comic Sans MS";
}

.y2k {
  font-family: "Planet Kosmos";
}
