@font-face {
  font-family: "Arial Rounded MT";
  src: url("/assets/fonts/ARIALROUNDEDMT.woff");
}

@font-face {
  font-family: "Pixel Comic MS";
  src: url("/assets/fonts/PixelComicSans-Regular.woff");
}

body {
  font-family: "Pixel Comic MS";
  background-image: url("/assets/img/spacebg.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

.rounded {
  font-family: "Arial Rounded MT";
}